.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.f-col{
    flex-direction: column;
}
.f-row{
    flex-direction: row;
}
.f-grow-1{
    flex-grow: 1;
}
.align-center{
    align-items: center;
}
.f-end{
    align-items: flex-end;
}
.p-10{
    padding: 10px;
}
.f-shrink-0{
    flex-shrink: 0;
}
