* {
    box-sizing: border-box;
}

.root {
    height: 800px;
    width: 800px;
    background: red;
    margin: auto auto;
    row-gap: 20px;
}

header {
    background: darkred;
    min-height: 100px;

}

main {
    max-height: calc(100% - 110px);
    flex: 1 0 auto;
    background: red;
}

.left_menu{
    background: darkred;
    flex: 0 0 150px;
    overflow-y: auto;
}

.menu_item {
    background: yellow;
    min-height: 50px;
    margin-bottom: 10px;
}

.header_item {
    min-height: 80px;
    min-width: 100px;
    background: yellow;
}

.content {
    flex-basis: 350px;
    background: blue;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    flex-basis: 100%;
    column-gap: 10px;
    overflow-x: auto;
}
ul li{
    flex: 1 0 auto;
}