.root {
    height: 800px;
    width: 800px;
    background: red;
    margin: auto auto;
    row-gap: 20px;
}

header {
    background: blue;
    min-height: 100px;
}

.main {
    background: #ff2af3;
    column-gap: 15px;
    overflow-x: auto;
}
.main_item{
    background: lawngreen;
    flex: 1 0 200px;
    overflow-y: auto;
}
.block{
    min-height: 50px;
    flex: 0 0 auto;
    margin-bottom: 20px;
}
.red{
    background: red;
}
.blue{
    background: blue;
}