.root {
    height: 800px;
    width: 800px;
    background: red;
    margin: auto auto;
}

.child_pink {
    background: deeppink;
    height: 200px;
    width: 200px;

}

.child_green {
    background: green;
    height: 75px;
    width: 75px;
}

.child_blue {
    background: blue;
    height: 100px;
    width: 100px;
}

